<% if logged_in? %>
  <div class="row" >
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h2>投稿一覧</h2>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<% else %>
　<div class = 'top_image'>
　  <img src="https://cdn.pixabay.com/photo/2019/12/13/18/24/amsterdam-4693608__480.jpg" alt="写真" width="70%" height= auto>
　</div>
  <div class = "loginlink">
    <div id = "login_button"><%= link_to "ログインする", login_path,class: "btn btn-success btn-xs" %></div>
    <div id = "login_button"><%= link_to "Facebookでログイン", '#',class: "btn btn-success btn-xs" %></div>
  </div>
<% end %>