<% provide(:title, "Likes") %>
<div class = "container">
  <h3>お気に入り</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
</div>