<li>
  <section class="user_info">
    <% if user.picture? %>
      <div class = "user_icon"><%= image_tag user.picture.thumb50.url %></div>
    <% else %>
      <div class = "user_icon"><img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" width = 50, height = 50></div>
    <% end %>
  <div class = "userspage_name"><%= link_to user.name, user %></div>
</li>