<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <div class="field">
        <%= f.label :introduction, "自己紹介" %>
    　　<%= f.text_area :introduction, placeholder: "自己紹介文を書こう！" %>
  　　</div>
  　　
  　　<span class="picture">
       <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
      </span>

      <%= f.submit "プロフィールを変更する", class: "btn btn-primary" %>
    <% end %>
    
    <% if current_user?(@user) %>
      <%= link_to "アカウントを削除する", @user, method: :delete,
                                    data: { confirm: "本当に削除してよろしいですか?" } %>
    <% end %>
  </div>
</div>