<% provide(:title, @title) %>
<div class="row">
  
  <div class="col-md-8">
    <h1><%= @title %></h1>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>