<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
  </span>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>