<%= search_form_for @q do |f| %>
  <%= f.label :picture_cont, 'Picture Search' %>
  <div class="input-group">
    <%= f.text_field :picture_cont, placeholder: "Enter keywords...",
                      class: 'form-control' %>
    <span class="input-group-btn">
     <%= f.submit '検索', class: "btn btn-primary" %>
    </span>
  </div>
<% end %>