
<% if current_user.picture? %>
  <div class = "user_icon"><%= image_tag current_user.picture.thumb100.url %></div>
<% else %>
  <div class = "user_icon"><img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" width = 100, height = 100></div>
<% end %>
<div class = "users_name">
  <h1><%= current_user.name %></h1>
  <h1><%= current_user.nickname %></h1>
</div>
<p>【自己紹介】</p>
<p><%= current_user.introduction %></p>
