<div>
  <%= alert.content %>
  <% if alert.user_id == current_user.id %>
    　　<%= link_to "削除する", "/alerts/#{alert.id}", method: :delete,
                                  data: { confirm: "本当に削除してよろしいですか?" } %>
  <% end %>
</div>