<div class = "pictures"> 
 <ul>
   <li>
    <div class = "picture">
     <%= link_to image_tag("#{micropost.picture.url}"), micropost_path(micropost), remote: true %>
     <div> 
       <%if Like.find_by(user_id: current_user.id, micropost_id: micropost.id) %>
         <%=link_to("/likes/#{micropost.id}/destroy",{method: "delete"}) do %>
           <span class="fa fa-heart like-btn-unlike"></span>
         <% end %>
       <%else%>
        <%=link_to("/likes/#{micropost.id}",{method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
       <%end%>
       <%= Like.where(micropost_id: micropost.id).count %>
       <% @user = User.find_by(id: micropost.user_id) %>
       <% if current_user?(@user) %>
         <%= link_to micropost, method: :delete,
                                    data: { confirm: "本当に削除してよろしいですか?" } do %>
           <span class="fa fa-trash" id = "trash"></span>
         <% end %>   
       <% end %>
     </div> 
    </div>
   </li>
 </ul>
</div> 