<div class = 'modal-open'>
  <div class = 'modal_picture'><%= image_tag("#{@micropost.picture.thumb300.url}") %> </div>
  
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= hidden_field_tag :micropost_id, @micropost.id.to_i %>
      <div class = 'comment_field'> <%= f.text_area :content, placeholder: "コメントしてみよう！" %> </div>
    </div>
    <div class = 'comment_button'><%= f.submit "コメントする", class: "btn btn-primary" %> </div>
  <% end %>
  
  <h3>コメント</h3>
  <ul class="users">
    <% @comments.each do |comment| %>
     <% @user = User.find_by(id: comment.user_id) %>
     <li>
      <%= link_to "#{@user.name}", @user %> |
      <%= comment.content %>
      <% if comment.user_id == current_user.id %>
    　　<%= link_to '削除', comment, method: :delete,
                                    data: { confirm: "本当に削除してよろしいですか?" } %>
  　　<% end %>
     </li>  
    <% end %>
  </ul>
</div>


  

