@import "bootstrap";
@import "bootstrap-sprockets";
/* universal */

ul {
  list-style: none;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

h2{
  text-align: center;
  margin-bottom: 10px;
}

h3{
  text-align: center;
}


body{
  background-color: #f5f5f5	;
  margin-bottom: 50px;
}


/* header */

header{
  background-color: #fcfcfc;
  height: 80px;
  ul{
    font-size: 20px;
    padding-top: 15px;
  }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #373737;
  letter-spacing: -1px;
  padding-top: 9px;
}

#logo:hover {
  color: #7f7f7f;
  text-decoration: none;
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

input {
  height: auto !important;
}



/* form */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



.picture {
  float: left;
  margin: 10px;
}


.modal-open{
  width: 500px;
  height: auto;
  text-align: center;
  margin: 20px auto;
  background-color: white;
}


.like-btn{
  color:#8899a6;
}


.like-btn-unlike{
  color:#ff2581;
}

#bell{
  font-size: 25px;
}

#user_icon{
  font-size: 25px;
}

#search{
  font-size: 25px;
}

#instagram{
  font-size: 30px;
  margin-right: 5px;
}

#trash{
  font-size: 15px;
  margin-left: 15px;
}

header{
  border-bottom: solid 1px silver;
}

.comment_field{
  margin: 30px 15px 5px 15px;
}

.comment_button{
  margin: 0px 15px 20px 15px;
}

.modal_picture{
  padding-top: 15px;
}

.top_image{
  text-align: center;
}

.loginlink{
  text-align: center;
  margin-top: 50px;
}

.btn-xs{
  width: 650px;
  height: auto;
  font-size: 30px;
  margin: 10px;
}

.policy{
  margin-top: 10px;
}

.user_icon{
  float: left;
}

.users_name{
  margin-bottom: 30px;
}

.userspage_name{
  font-size: 25px;
  padding-left: 15px;
}
.icon-bar{
  background-color: gray;
  padding: 2px;
}

.navbar-toggle{
  border: solid 1px black;
  margin-top: 20px;
  margin-right: 40px;
}



@media (max-width: 800px) {
  
  .navbar-collapse li{
  width: 100%;
  background-color: #fcfcfc;
  z-index: 10;
 }
  
}