<footer class="footer">
  <small>
    <p>Insta app by daiki yokota</p>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "投稿する", "/microposts/new" %></li>
      <% end %>  
    </ul>
  </nav>
</footer>