<header class="app-title.navbar.navbar-expand-md.navbar-light.bg-light">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    <div class = "navbar-brand">
      <%= link_to '/', id: "logo" do %>
        <span class="fa fa-instagram" id = "instagram"></span>| <font face= "cursive">Insta app</font> 
      <% end %>  
    </div>
  </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <% if logged_in? %>
          <li>
            <%= link_to microposts_path do%>
              <span class= "fa fa-search" id = "search"></span>
            <% end %>
          </li>
          <li>
            <%= link_to alert_path(current_user) do %>
              <span class="fa fa-bell" id = "bell"></span>
            <% end %>     
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-user" id = "user_icon"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "おすすめユーザー", users_path %></li>
              <li><%= link_to "お気に入り", "/likes/#{current_user.id}" %></li>
              <li><%= link_to "プロフィール設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "新規登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>